body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.container {
    width:100%;
    text-align: Left;
}

.headertext{
    text-align: center;
    background-color: rgb(128, 139, 212);
    height: 100px;
    line-height: 100px;
    color: white;
}
.headertext h1{
    text-align: center;
}
input[type="text"] {
    width: 80%;  
    height: 40px;  
    font-size: 16px;
    padding: 10px;  
    border-radius: 5px;  
    margin-bottom: 20px;  
}
.section{
    text-align: center;
    margin: auto;
    width: 80%;
}
.section h2{
    text-align: left;
    margin-left:5%;
} 

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #c30e0e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 60px;
}

hr{
    font-size: xx-large;
}
button:hover {
    background-color: #8f1f1f;
}
